body {
    font-family: 'Arial Black';
    color: white;
    background-color: black;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color ease-in-out 100ms;
}
.damaged {
    background-color: red;
}